Django==5.0.7
Pillow==10.2.0
beautifulsoup4==4.13.4
requests==2.32.3
selenium==4.33.0
webdriver-manager==4.0.2
django-crispy-forms==2.1
django-filter==24.1
psycopg2-binary==2.9.9
celery==5.3.6
redis==5.0.3 